.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 6000; /* Stay on top */
    top: 1px; /* Stay at the top */
    left: 0;
    background-color: #eeeeee;
    overflow-x: hidden; /* Disable horizontal scroll */
    /*padding-top: 60px; !* Place content 60px from the top *!*/
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    box-shadow: 1px -5px 20px #5f5f5f;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 8px;
    /*font-family: "Lucida Grande', Verdana, Helvetica, Arial, sans-serif";*/
    text-decoration:  none;
    font-size: 18px;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover, a:focus
{
    text-decoration: underline;
}
.sidenav span {
    /*padding: 8px 8px 8px 8px;
    font-family: "Lucida Grande', Verdana, Helvetica, Arial, sans-serif";*/
    text-decoration:  none;
    font-size: 18px;
    /*display: block;*/
    transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    text-decoration: underline;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}