{% extends "base.html" %}
{% block head %}
    <script type="text/javaScript" xmlns="http://www.w3.org/1999/html">
        $(document).ready(function () {
            let cfile_choices = ''
            if ('{{ edit }}' == 'True') {
                cfile_choices = ('{{ project.getConfigFilePath }}') ? 'file' :'branch';
            }
            let elem = $('#id_cfile');
            elem.val(cfile_choices);
            if (cfile_choices == 'file') {
                if ($('.file_field').length == 0) {
                    $(elem).parent().append('<input type="file" style="width: 50%;display: inline-block" name="cfile2" class="file_field" id="id_cfile2">');
                    if ("{{ edit }}" == "True" && '{{ project.getConfigFilePath }}' != '') {
                        $('#id_cfile2').removeAttr('required');
                        var dlink = "<a id='cfile_file' style='display: inline-block;' class='btn btn-primary' href='{% url "download_config_file" %}?file={{ project.getConfigFilePath }}' >Download File</a>";
                        $('.file_field').parent().addClass("flex");
                        $('.file_field').parent().append(dlink);
                    }
                }
            } else {
                $("#id_cfile2").remove();
                $("#cfile_file").remove();

            }
        })

        function cfile_handler(elem) {
            if (elem.value == 'file') {
                if ($('.file_field').length == 0) {
                    $(elem).parent().append('<input type="file" style="width: 50%;display: inline-block" name="cfile2" class="file_field" id="id_cfile2">');
                    if ("{{ edit }}" == "True" && '{{ project.getConfigFilePath }}' != '') {
                        $('#id_cfile2').removeAttr('required');
                        var dlink = "<a id='cfile_file' style='display: inline-block;' class='btn btn-primary' href='{% url "download_config_file" %}?file={{ project.getConfigFilePath }}' >Download File</a>";
                        $('.file_field').parent().addClass("flex");
                        $('.file_field').parent().append(dlink);
                    }
                }
            }else{
                $("#id_cfile2").remove();
                $("#cfile_file").remove();

            }
        }
    </script>
{% endblock %}
{% block content %}


    <br/>
    {% if done %}
        <div align="center">
            <div class="alert alert-success" style="width: 250px">Project Saved</div>
        </div>
    {% endif %}
    {% if edit %}
        <div align="center"><h1>Edit Project</h1></div>
    {% else %}
        <div align="center"><h1>Add Project</h1></div>
    {% endif %}
    {% if error %}
        <div class="alert alert-danger">{{ form.errors }}</div>
    {% endif %}
    <form action="{% url 'ci_add_project' %}" method="post" enctype="multipart/form-data">
        {% if edit == True %}
            <input type="hidden" value="True" name="edit"/>
        {% endif %}
        {% csrf_token %}
        <div align="center">
            <table>
                {{ form.as_table }}
            </table>
            {% if edit %}
                <button class="btn btn-primary">Edit Project</button>
            {% else %}
                <button class="btn btn-primary">Add Project</button>
            {% endif %}
        </div>
    </form>

{% endblock %}