{% extends "base.html" %}
{% block head %}
    <script type="text/javascript">
        $(function () {
            $(".fold-table tr.view").on("click", function () {
                $(this).toggleClass("open").next(".fold").toggleClass("open");
            });
        });

    </script>
    <style>
        table {
            width: 100%;
        }

        table th {
            text-align: left;
            border-bottom: 1px solid #ccc;
        }

        table th,
        table td {
            padding: 0.4em;
        }

        table.fold-table > tbody > tr.view td,
        table.fold-table > tbody > tr.view th {
            cursor: pointer;
        }

        table.fold-table > tbody > tr.view td:first-child,
        table.fold-table > tbody > tr.view th:first-child {
            position: relative;
            padding-left: 20px;
        }

        table.fold-table > tbody > tr.view td:first-child:before,
        table.fold-table > tbody > tr.view th:first-child:before {
            position: absolute;
            top: 50%;
            left: 5px;
            width: 9px;
            height: 16px;
            margin-top: -8px;
            font: 16px fontawesome;
            color: #999;
            content: "\f0d7";
            transition: all 0.3s ease;
        }

        table.fold-table > tbody > tr.view:nth-child(4n-1) {
            background: #eee;
        }

        table.fold-table > tbody > tr.view.open td:first-child:before,
        table.fold-table > tbody > tr.view.open th:first-child:before {
            transform: rotate(-180deg);
            color: #333;
        }

        table.fold-table > tbody > tr.fold {
            display: none;
        }

        table.fold-table > tbody > tr.fold.open {
            display: table-row;
        }
        ul > li{
            padding: 4px;
        }
        ul > li > .result-div{
            padding-bottom: 10px;
        }
        .Pending-dot {
            height: 25px;
            width: 25px;
            background-color: #2196F3;
            border-radius: 50%;
            display: inline-block;
        }

        .Running-dot {
            height: 25px;
            width: 25px;
            background-color: #ff9800;
            border-radius: 50%;
            display: inline-block;
        }

        .Success-dot {
            height: 25px;
            width: 25px;
            background-color: #4CAF50;
            border-radius: 50%;
            display: inline-block;
        }

        .Failed-dot {
            height: 25px;
            width: 25px;
            background-color: #f44336;
            border-radius: 50%;
            display: inline-block;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="panel panel-new" style="background-color:transparent">
        <div class="panel-heading" style="">
            <h5 style="font-weight: bold">{{ project_name }}</h5>
        </div>
        <div class="panel-body">
            <table class="fold-table paleblue">
                <thead>
                <tr>
                    <th>Datetime</th>
                    <th>Server</th>
                    <th>Update type</th>
                    <th>Update version</th>
                    <th>Author Name</th>
                    <th>Author Email</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for item in integrations %}
                    <tr class="view">
                        <td>{{ item.datetime }}</td>
                        <td>{{ item.server }}</td>
                        <td>{{ item.update_type }}</td>
                        <td>{{ item.update_version }}</td>
                        <td>{% if item.author_name %}{{ item.author_name }}{% else %}{% endif %}</td>
                        <td>{% if item.author_email %}{{ item.author_email }}{% else %}{% endif %}</td>
                        <td><span class="{{ item.status }}-dot" title='{{ item.status }}'></span></td>
                    </tr>
                    <tr class="fold">
                        <td colspan="7">
                            <div class="fold-content">
                                {% for k,v in item.result.items %}
                                    <ul>
                                        <li>
                                            <strong>Command :</strong>
                                            {{ k }}</li>
                                        <li>
                                            <strong>Exit Code :</strong>
                                            {{ v.exit_code }}</li>
                                        <li>
                                            <strong>Result :</strong>
                                            <div class="result-div"></div>
                                            {% if item.status_id == 2 %}
                                                <div class='alert alert-success'>{{ v.result|linebreaks }}</div>
                                            {% elif item.status_id == 3 %}
                                                <div class='alert alert-danger'>{{ v.result|linebreaks }}</div>
                                            {% else %}
                                                {{ v.result|linebreaks }}
                                            {% endif %}
                                        </li>
                                    </ul>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}












