{% extends "base.html" %}
{% block content %}

    <script type="text/javaScript" xmlns="http://www.w3.org/1999/html">
        $(document).ready(function () {
            if ('{{ edit }}' == "True") {
                $('#id_cfile').removeAttr('required');
                var dlink = "<a style='display: inline-block;' class='btn btn-primary' href='{% url "download_config_file" %}?file={{ project.configFile.path }}' >Download File</a>";
                $('.file_field').parent().addClass("flex");
                $('.file_field').parent().append(dlink);

            }
        })
    </script>
    <br/>
    {% if done %}
        <div align="center">
            <div class="alert alert-success" style="width: 250px">Project Saved</div>
        </div>
    {% endif %}
    {% if edit %}
        <div align="center"><h1>Edit Project</h1></div>
    {% else %}
        <div align="center"><h1>Add Project</h1></div>
    {% endif %}
    {% if error %}
        <div class="alert alert-danger">{{ form.errors }}</div>
    {% endif %}
    <form action="{% url 'cd_add_project' %}" method="post" enctype="multipart/form-data">
        {% if edit == True %}
            <input type="hidden" value="True" name="edit"/>
        {% endif %}
        {% csrf_token %}
        <div align="center">
            <table>
                {{ form.as_table }}
            </table>
            {% if edit %}
                <button class="btn btn-primary">Edit Project</button>
            {% else %}
                <button class="btn btn-primary">Add Project</button>
            {% endif %}
        </div>
    </form>
{% endblock %}