{% extends "base.html" %}
{% block content %}
    <br/>
    {% if done %}
        <div align="center">
            <div class="alert alert-success" style="width: 250px">Server Saved</div>
        </div>
    {% endif %}

    {%  if error %}


    <div class="alert alert-danger">{{ form.errors }}</div>
    {% endif %}
    <div align="center"> <h1>Add Servers</h1></div>
    <form action="./add_server" method="post">
    {% csrf_token %}
    <div align="center">
    <table>
        {{  form.as_table }}
        {% if edit %}
        <input name="edit" value="True" type="hidden">
        {% else %}
        <input name="edit" value="False" type="hidden">
        {% endif %}
    </table>
    {% if not edit %}
    <button class="btn btn-primary" type="submit">Add Server</button>
    {% else %}
        <button class="btn btn-primary" type="submit">Edit Server</button>
    {% endif %}
    </div>
    </form>


{% endblock %}