{% extends "base.html" %}
{% block content %}

    {% if done %}
        <br/>
        <div align="center">
            <div class="alert alert-success" style="width: 250px">Key Saved</div>
        </div>
    {% endif %}
    {%  if error %}
    <div class="alert alert-danger">{{ form.errors }}</div>
    {% endif %}
    <br/>
    <div align="center"> <h1>Add SSH Key</h1></div>
    <form action="./add_sshkey" method="post">
    {% csrf_token %}
    <div align="center">
    <table>
        {{  form.as_table }}
        {% if edit %}
        <input name="edit" value="True" type="hidden">
        {% else %}
        <input name="edit" value="False" type="hidden">
        {% endif %}
    </table>
    <button class="btn btn-primary" type="submit">Add Key</button>
    </div>
    </form>


{% endblock %}