{% extends "base.html" %}
{% block content %}
    <br/>
    {% if done %}
        <div align="center">
            <div class="alert alert-success" style="width: 250px">Project Saved</div>
        </div>
    {% endif %}
    <div align="center"> <h1>Add Project</h1></div>
    {%  if error %}
    <div class="alert alert-danger">{{ form.errors }}</div>
    {% endif %}
    <form action="./add_project" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div align="center">
    <table>
        {{  form.as_table }}
    </table>
    <button class="btn btn-primary">Add Project</button>
    </form>
    </div>

{% endblock %}