{% load render_table from django_tables2 %}

<!DOCTYPE html>
<html>
<head lang="en">

    <meta charset="UTF-8">
    <title>{{ TITLE }}</title>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}css/sb-admin-2.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}css/font-awesome.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}css/metisMenu.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}css/morris.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}css/screen.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}css/autodeploy.css" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/logo.png">
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}img/logo.png">
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/logo.png" sizes="192x192">
    {% block head %}
    {% endblock %}
    <script src="{{ STATIC_URL }}js/functions.js" type="text/javascript"></script>
    {% if ajax %}
        <script type="text/javascript">
            function renderNotification(title, msg) {
                body = $("<div>").html(msg).text();
                var options = {
                    body: body,
                    //  image: "{{ STATIC_URL }}img/sdl_logo.png",
                    icon: "{{ STATIC_URL }}img/logo.png",
                    badge: "{{ STATIC_URL }}img/logo.png",
                    timestamp: new Date(),
                }

                var n = new Notification(title, options);
            }


            $(document).ready(function () {
                Notification.requestPermission().then(function (result) {
                    update();
                });
            });
            $.ajax({
                url: "{{ BASE_URL }}api/{{ function }}",
                "method": "GET",
                "dataType": "{{ dataType }}",
                success: function (data) {
                    {{ function }}(data)
                    {% if function == "cloneCD"  or  function == "cloneCI" %}
                        renderNotification("Cloned Successfully", "Clone of {{ project.name  }} done successfully")
                    {% elif function == "deploy" %}
                        renderNotification("Deployed Successfully", "Deployment of {{ project.name  }} done successfully")
                    {% elif function == "integrate" %}
                        renderNotification("Integrated Successfully", "Integration of {{ project.name  }} done successfully")
                    {% endif %}
                },
                error: function (data) {
                    renderResult(data.responseText, "Error")
                    {% if function == "cloneCD" or function == "cloneCI" %}
                        title = "Cloning Failed";
                        body = "Cloning of {{ project.name }} failed, please check error";
                    {% elif function == 'deploy' %}
                        title = "Deployment Failed";
                        body = "Deployment of {{ project.name  }} failed, please check error";
                    {% elif function == 'integrate' %}
                        title = "Integration Failed";
                        body = "Integration of {{ project.name  }} failed, please check error";
                    {% endif %}
                }
                {% if data != "" %},
                    data:{{ data|safe }}
                {% endif %}
            })
        </script>
    {% endif %}
</head>
<body>


<div id="wrapper">

    <!-- Navigation -->
    <nav style="margin-bottom: 0" role="navigation" class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{% url 'index' %}" class="navbar-brand">autoDeploy</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            {% if user.is_authenticated %}

                <a href='javascript:void(0)' data-toggle="dropdown" id="userDropdown"
                   style="margin-right: 25px;position: relative;top: 10px"><span class="fa fa-2x fa-user"
                                                                                 title="User"></span></a>
                <ul class="dropdown-menu" aria-labelledby="userDropdown">
                    <li><a href="{% url 'mfa_home' %}">Security</a></li>
                    {% if request.user.is_staff or  request.user.is_superuser %}
                        <li><a href="{{ BASE_URL }}admin">Admin Interface</a></li>
                    {% endif %}
                    <li role="separator" class="divider"></li>
                    <li><a href="{{ BASE_URL }}accounts/logout">Log out</a></li>
                </ul>
            {% endif %}
        </ul>
        <!-- /.navbar-top-links -->

        <div role="navigation" class="navbar-default sidebar">
            <div class="sidebar-nav navbar-collapse">
                <ul id="side-menu" class="nav in">
                    <li>
                        <a href="#"><i class="fa fa-book fa-fw"></i> Continuous Deployment <span
                                class="fa arrow"></span></a>

                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="{% url 'cd_index' %}" class="active"><i class="fa fa-dashboard fa-fw"></i>
                                    CD Dashboard</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-pencil fa-fw"></i> Projects<span
                                        class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse">
                                    {% if perms.autodeploy.add_project %}
                                        <li>
                                            <a href="{% url 'cd_add_project' %}">Add Project</a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <a href="{% url 'cd_index' %}">Manage Projects</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                        </ul>
                    </li>
                    <!--CI -->
                    <li>
                        <a href="#"><i class="fa fa-refresh fa-fw"></i> Continuous Integration <span
                                class="fa arrow"></span></a>

                        <ul class="nav nav-second-level collapse">
                            <li>
                                <a href="{% url 'ci_index' %}" ><i class="fa fa-dashboard fa-fw"></i>
                                    CI Dashboard</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-pencil fa-fw"></i> Projects<span
                                        class="fa arrow"></span></a>
                                <ul class="nav nav-second-level collapse">
                                    <li>
                                        <a href="{% url 'ci_add_project' %}">Add Project</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'ci_index' %}">Manage Projects</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                        </ul>
                    </li>

                    {% if not perms.autodeploy.add_server and not perms.autodeploy.change_server and not perms.autodeploy.delete_server and not perms.autodeploy.check_server %}
                    {% else %}
                        <li>
                                <a href="#"> <i class="fa fa-linux fa-fw"></i> Servers
                                <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                {% if perms.autodeploy.add_server %}
                                    <li><a href="{% url 'add_server' %}">Add Server</a></li>
                                {% endif %}
                                {% if perms.autodeploy.change_server and perms.autodeploy.delete_server %}
                                    <li><a href="{% url 'manage_servers' %}">Manage Servers</a></li>
                                {% endif %}
                                {% if perms.autodeploy.check_server %}
                                    <li><a href="{% url 'checkServers' %}">Check Servers</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                    {% if perms.autodeploy.add_sshkey and perms.autodeploy.change_sshkey and perms.autodeploy.delete_sshkey %}

                        <li>
                            <a href="#"> <i class="fa fa-key fa-fw"></i> SSH Keys <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="{% url 'add_sshkey'%}">Add SSH Key</a></li>
                                <li><a href="{% url 'manage_sshkey' %}">Modify SSH Keys</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if perms.autodeploy.add_plugins and perms.autodeploy.change_plugins and perms.autodeploy.delete_plugins %}
                        <li>
                            <a href="#"><i class="fa fa-plug"> Plugins</i> </a>
                            <ul class="nav nav-second-level collapse">
                                <li><a href="{{ BASE_URL }}installPlugin">Install Plugin</a></li>
                                <li><a href="{{ BASE_URL }}managePlugins">Manage Plugins</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper" style="min-height: 342px;">
        {% block content %}
            <br/>
            <div align="center">
                <h2>{{ title }}</h2></div>
            {% if ajax %}
                <br/>

                <div align="center" id="content" class="{{ class }}">
                    <img src="{{ STATIC_URL }}/img/loading.gif"/><br/>
                    Please wait while your request is processed.....
                </div>
            {% else %}
                <div align="center" id="content" class="{{ class }}"> {{ text }}</div>
            {% endif %}
        {% endblock %}

    </div>
    <!-- /.panel-body -->

</div>
<!-- /#page-wrapper -->

</div>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/sb-admin-2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/metisMenu.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/morris.js"></script>

</body>
</html>